.App {
  text-align: center;
}

.App-logo {

  height: 120px;
}

.App-bar {
  height: 500px;

}

svg {
  fill: #ffffff;
}

input{
  font-size: 2em;
}

.App-header {
  background-color: #859fa0;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
